* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgb(22, 22, 22),rgb(15, 15, 15)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* NAVBAR */
/* NAVBAR */

nav {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

nav ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s ease-out;
}

nav ul li:hover::before {
    width: 100%;
}

nav .active {
    color: orange;
}

/* NAVBAR */
/* NAVBAR */

/* ======================================================== */


#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(17, 11, 11, 0.8), rgba(62, 56, 62, 0.8)), url(img/fondohero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

#hero h1 {
    font-size: 3em;
}

/* ======================================================== */

/* FOTOS */
/* FOTOS */


#foto {
    border: 2px solid #ccc; /* Define el estilo, ancho y color del borde */
    border-radius: 200px; /* Añade bordes redondeados para un aspecto más suave */
    border-style: double;
    border-color: orange;
}

#worklogo {
    position: absolute;
    left: 10%;
}

#studylogo {
    position: absolute;
    right: 10%;
}

/* CONTACTO */
/* CONTACTO */

.formulario form label {
    margin: 3px 0; /* 10px de margen arriba y abajo, sin margen izquierda y derecha */
    display: inline-block; /* Añadir esta propiedad para que los labels ocupen todo el ancho disponible */
    border: 1px solid #ccc; /* Define el estilo, ancho y color del borde */
    border-radius: 5px; /* Añade bordes redondeados para un aspecto más suave */
    padding: 5px; /* Añade espacio interno para que el texto no esté demasiado pegado al borde */
}

.formulario form input {
    border: 1px solid #ccc; /* Establece el estilo, el ancho y el color del borde */
    border-radius: 5px; /* Agrega bordes redondeados para un aspecto más suave */
    padding: 5px; /* Añade espacio interno para que el texto no esté demasiado pegado al borde */
}

/* BOTON */
/* BOTON */

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para cambiar el color de fondo */
}

button:hover {
    background-color: rgb(172, 112, 0); /* Nuevo color de fondo en hover */
}

/* FUENTE */
/* FUENTE */

h1 {
    padding: 20px;
}

h2 {
    padding: 12px;    
}

p {
    padding: 3px 0px;
}